body{
    background-color: rgb(84, 61, 100); ;
}
#gameTitle{
    background-color: rgb(47, 0, 78);
    color: rgb(220, 220, 220);
    width:500px;
    text-align: center;
    padding: 10px;
    border-radius: 20px;
    border: none;
    margin-left: auto;
    margin-right: auto;
}
#scr{
    display: flex;
    justify-content:space-around;
    align-items: center;
    margin-bottom: 10px;
    font-size: large;
}
#newg{
    width:150px;
    padding: 9px 15px;
    border-radius: 20px;
    border: none;
}