body{
    background-color: rgb(84, 61, 100); ;
}
#gameTitle{
    background-color: rgb(47, 0, 78);
    color: rgb(220, 220, 220);
    width:500px;
    text-align: center;
    padding: 10px;
    border-radius: 20px;
    border: none;
    margin-left: auto;
    margin-right: auto;
}